.footer {
    padding: 50px 0;
    background: #171f27;

    &__link {
        color: #fff;
        position: relative;
        font-size: 18px;
        line-height: 50px;
        font-weight: 300;

        &:after {
            width: 100%;
            display: block;
            content: "";
        }
    }
}